<ion-card color="success">
    <ion-card-header>
      <ion-card-title>Academic Grading</ion-card-title>
      <ion-card-subtitle>Approve of a new grading mechanism?</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      It is discovered that a lot of student are having difficulty reaching...
    </ion-card-content>
  
    <ion-button color="light" fill="solid" href="/menu/home">Answer</ion-button>
    <ion-button color="light" fill="solid" href="/menu/survey">Decline</ion-button>
</ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Interested in Summer Class?</ion-card-title>
      <ion-card-subtitle>Summer is almost here!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Now that summer is nearing... </ion-card-content>

    <ion-button color="light" fill="solid" href="/menu/home">Answer</ion-button>
    <ion-button color="light" fill="solid" href="/menu/survey">Decline</ion-button>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>How was your experience in school?</ion-card-title>
      <ion-card-subtitle>Don't be shy to tell us.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Open for more details. </ion-card-content>

    <ion-button fill="solid" href="/menu/home">Answer</ion-button>
    <ion-button fill="solid" href="/menu/survey">Decline</ion-button>
  </ion-card>