<div class="container">
  <div class="content">
    <ion-list>
      <ion-item>
        <ion-checkbox justify="space-between">Form 137</ion-checkbox>
      </ion-item>
    
      <ion-item>
        <ion-checkbox justify="space-between">Form 138</ion-checkbox>
      </ion-item>
    
      <ion-item>
        <ion-checkbox justify="space-between">Yearbook</ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-checkbox justify="space-between">Diploma</ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-checkbox justify="space-between">Certificate of Good Moral</ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-input label="Others:" [clearInput]="true" placeholder="Enter text"></ion-input>
      </ion-item>
    <ion-button expand="full" (click)="showAlert()">Request</ion-button>
  </ion-list>
  </div>
</div>
