<ion-content [fullscreen]="true" class="ion-padding">
<div class="container">
  <div class="content">
    <div class="img-box">
      <img src="../../assets/lg.png" alt="logo" />
    </div>
  </div>
</div>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label><ion-icon class="icons" name="home-outline"></ion-icon></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="achievement">
      <ion-label><ion-icon class="icons" name="ribbon-outline"></ion-icon></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="requests">
      <ion-label><ion-icon class="icons" name="add-outline"></ion-icon></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <ion-label><ion-icon class="icons" name="megaphone-outline"></ion-icon></ion-label>
    </ion-tab-button>    
    <ion-tab-button tab="profile">
      <ion-label><ion-icon class="icons" name="person-outline"></ion-icon></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
